span {
	color: #0645AD;

}
a {text-decoration: none;}


.main {
	font-size: 150%;
	margin: 0 auto;
	height: 908px;
	width: 1290px;
	background-color: #fafafa;
	padding-top:40px;
}


.tiles {
	float:left;
 	width:310px;
	height:167px;
	text-align:center;
	
}
img {
	margin:auto;
}
.bold {
	font-weight:bold;
}
.right {
	text-align:right;
}
.section{
padding-top: 5px;

}
